<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenue !</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Connexion</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label><b>Email</b></ion-label>
        <ion-input [(ngModel)]="email" type="email" placeholder="Entrez votre email"></ion-input>
      </ion-item>

      <div class="ion-padding">
        <ion-button (click)="continu()" expand="block" color="primary">Continuer</ion-button>
      </div>
    </ion-card-content>

  </ion-card>

  <p style="text-align: center">--- ou ---</p>

  <ion-button
    type="submit" color="primary" expand="block" (click)="justAuthMe()">
<!--    <ion-icon name="person-outline"></ion-icon>-->
    Se connecter Avec JustAuthMe
  </ion-button>

  <br>

  <ion-button
    type="submit" color="danger" expand="block" (click)="googleAuth()">
    <ion-icon slot="start" name="logo-google"></ion-icon>
    Connexion avec Google
  </ion-button>

  <br>

  <ion-button
    type="submit" color="light" expand="block" (click)="microsoftAuth()">
    <ion-icon slot="start" name="logo-microsoft"></ion-icon>
    Connexion avec Microsoft
  </ion-button>

  <br>

  <ion-button
    type="submit" color="dark" expand="block" (click)="githubAuth()">
    <ion-icon slot="start" name="logo-github"></ion-icon>
    Connexion avec Github
  </ion-button>

  <br>

  <ion-button
    type="submit" color="tertiary" expand="block" (click)="anonymousAuth()">
    <ion-icon name="person-outline"></ion-icon>
    Connexion en tant qu'invité
  </ion-button>

</ion-content>
