<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenue !</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Connexion</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label><b>Email</b></ion-label>
        <ion-input [(ngModel)]="email" type="email" placeholder="Entrez votre email"></ion-input>
      </ion-item>

      <div class="ion-padding">
        <ion-button (click)="continu()" expand="block" color="primary">Continuer</ion-button>
      </div>
    </ion-card-content>

  </ion-card>

  <p style="text-align: center">--- ou ---</p>

  <ion-button
    type="submit"
    color="danger"
    expand="block"
    style="margin: 0 5vw"
    (click)="googleAuth()">
    <ion-icon slot="start" name="logo-google"></ion-icon>
    Login with Google
  </ion-button>

  <br>

  <ion-button
    type="submit"
    color="dark"
    expand="block"
    style="margin: 0 5vw"
    (click)="microsoftAuth()">
    <ion-icon slot="start" name="logo-microsoft"></ion-icon>
    Login with Microsoft
  </ion-button>

  <br>

  <ion-button
    type="submit"
    color="light"
    expand="block"
    style="margin: 0 5vw"
    (click)="githubAuth()">
    <ion-icon slot="start" name="logo-github"></ion-icon>
    Login with Github
  </ion-button>

</ion-content>
