<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button content="main"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button (click)="user.initCurrentUser()">Click to init current user</ion-button>

  <ion-item>
    <ion-label>
      <p>Nom</p>
      <h2><b>{{ user.userData.displayName }}</b></h2>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      <p>Méthode de connexion</p>
      <h2><b>{{ user.userData.method }}</b></h2>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      <p>Identifiant</p>
      <h2><b>{{ user.userData.userId }}</b></h2>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      <p>Adresse email</p>
      <h2><b>{{ user.userData.mail }}</b></h2>
    </ion-label>
  </ion-item>

  <div class="ion-padding">
    <ion-button expand="block" color="danger" (click)="user.logout()">Déconnexion</ion-button>
  </div>
</ion-content>
